*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color:#FA7162;
    --sec-color:#363958;
}

.container{
    width: 1200px;
    margin: 0 auto;
}
/* header section Css */

header{
    width: 100%;
    padding: 28px 0px;
}

header nav ul{
    width: 100%;
 
  
    text-align: right;
}

header nav ul li{
display: inline-block;
list-style: none;

}

header ul li a {
    text-decoration: none;
    color: #4b4b4b;
    font-size: 18px;
    font-weight: 600;
    position: relative;
    margin: 0px 15px;
}

header ul li a::after{
    content: "";
    position: absolute;
    width: 0%;
    background-color: var(--primary-color);
    height: 3px; 
    left: 0px;
    bottom: -3px;
    transition: all 0.3s linear;
}

header ul li a:hover::after{
width: 100%;

}


/* banner section Css */

.banner{
    width: 100%;
    padding: 10px 0px;


}
.banner-content{
    display: flex;
    align-items: center;
    justify-content: space-between;

   
} 

.banner-left , .banner-right{
    flex-basis: 50%;
}

.banner-left h2{
font-size: 50px;
color: var(--sec-color);
font-family: 'Roboto', sans-serif;
}

.banner-left p{
    font-size: 22px;
    font-weight: 100;
    padding-right: 261px;
    margin: 23px 0px;
}

.banner-left h1{
    font-size: 47px;
    color: var(--primary-color);
    font-family: 'Roboto', sans-serif;
}

.banner-right img{
    width: 65%;


}



.btn{
    text-decoration: none;
    background: linear-gradient(to left, var(--primary-color), #F56260);
    color: white;
    padding: 14px 43px;
    border-radius: 10px;
    display: inline-block;
    font-size: 18px;
}

.btn:hover{
    background: transparent;
    color: var(--sec-color);
    border:1px solid  var(--primary-color);
    font-weight: bold;
}

/* about section Css */
.about{
    width: 100%;
padding-bottom: 20px;


}
.about-content{
    display: flex;
    align-items: center;
    justify-content: space-between;

} 

.about-left , .about-right{
    flex-basis: 50%;
}

.about-left img{
    width: 70%;
}

.about h4{
    font-size: 40px;
    color: var(--sec-color);
    font-family: 'Roboto', sans-serif;
    letter-spacing: -3px;
    font-weight: 500;

}

.about p{
    color: var(--sec-color);
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 27px;
    margin-right: 77px;
    margin: 30px 0px;
}

/* project-item css */

.project-work{
    width: 100%;
    padding: 90px 0px;
    background:#F8F9FC;
}

.project-work h2{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-bottom: 70px;
    color: #363958;
    font-weight: bold;
    font-size: 31px;
    letter-spacing: -1px;
}
.project-work span{
    color: var(--primary-color);
}

.project-item{
    display: flex;
    justify-content: space-between;
}

.item{
    flex-basis: 30%;
    border: 1px solid #ffffff;
    padding: 13px 14px 13px 14px;
    border-radius: 26px;
    background-color: #ffffff;
}

.item img{
    width: 100%;
}

.item h3{
color: #363958;
font-size: 26px;
padding: 15px 0px;
font-weight: bold;
}



.item p{
    font-size: 18px;
    color: #797575;
    padding-bottom: 15px;
}

/* communicate section css */

.communicate{
    width: 100%;
    padding: 90px 0px;
}

.communicate-box{
    width: 67%;
   height: auto;
   padding: 90px 10px;
    background: url(../shapes/3.png);
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    border-radius: 30px;
}

.communicate-box h2{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 44px;
}


/*  Footer section css */

footer{
    width: 100%;
    padding-bottom: 60px;
    padding-top: 15px;

}

.footer-content{
  text-align: center;
}

footer p{
    font-weight: bold;
    color: #696871;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

footer h2{
    font-family: 'Roboto', sans-serif;
    padding: 25px 0px;
    font-size: 36px;
}

.footer-content img{
    width: 4%;
    margin: 0px 15px;
}