*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color:#FA7162;
    --sec-color:#363958;
}

.container{
    width: 1200px;
    margin: 0 auto;
}
/* header section Css */

header{
    width: 100%;
    padding: 28px 0px;
}

header nav ul{
    width: 100%;
 
  
    text-align: right;
}

header nav ul li{
display: inline-block;
list-style: none;

}

header ul li a {
    text-decoration: none;
    color: #4b4b4b;
    font-size: 18px;
    font-weight: 600;
    position: relative;
    margin: 0px 15px;
}

header ul li a::after{
    content: "";
    position: absolute;
    width: 0%;
    background-color: var(--primary-color);
    height: 3px; 
    left: 0px;
    bottom: -3px;
    transition: all 0.3s linear;
}

header ul li a:hover::after{
width: 100%;

}


/* banner section Css */

.banner{
    width: 100%;
    padding: 10px 0px;


}
.banner-content{
    display: flex;
    align-items: center;
    justify-content: space-between;

   
} 

.banner-left , .banner-right{
    flex-basis: 50%;
}

.banner-left h2{
font-size: 50px;
color: var(--sec-color);
font-family: 'Roboto', sans-serif;
}

.banner-left p{
    font-size: 22px;
    font-weight: 100;
    padding-right: 261px;
    margin: 23px 0px;
}

.banner-left h1{
    font-size: 47px;
    color: var(--primary-color);
    font-family: 'Roboto', sans-serif;
}

.banner-right img{
    width: 65%;


}



.btn{
    text-decoration: none;
    background: linear-gradient(to left, var(--primary-color), #F56260);
    color: white;
    padding: 14px 43px;
    border-radius: 10px;
    display: inline-block;
    font-size: 18px;
}

.btn:hover{
    background: transparent;
    color: var(--sec-color);
    border:1px solid  var(--primary-color);
    font-weight: bold;
}

/* about section Css */
.about{
    width: 100%;
padding-bottom: 20px;


}
.about-content{
    display: flex;
    align-items: center;
    justify-content: space-between;

} 

.about-left , .about-right{
    flex-basis: 50%;
}

.about-left img{
    width: 70%;
}

.about h4{
    font-size: 40px;
    color: var(--sec-color);
    font-family: 'Roboto', sans-serif;
    letter-spacing: -3px;
    font-weight: 500;

}

.about p{
    color: var(--sec-color);
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 27px;
    margin-right: 77px;
    margin: 30px 0px;
}

/* project-item css */

.project-work{
    width: 100%;
    padding: 90px 0px;
    background:#F8F9FC;
}

.project-work h2{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-bottom: 70px;
    color: #363958;
    font-weight: bold;
    font-size: 31px;
    letter-spacing: -1px;
}
.project-work span{
    color: var(--primary-color);
}

.project-item{
    display: flex;
    justify-content: space-between;
}

.item{
    flex-basis: 30%;
    border: 1px solid #ffffff;
    padding: 13px 14px 13px 14px;
    border-radius: 26px;
    background-color: #ffffff;
}

.item img{
    width: 100%;
}

.item h3{
color: #363958;
font-size: 26px;
padding: 15px 0px;
font-weight: bold;
}



.item p{
    font-size: 18px;
    color: #797575;
    padding-bottom: 15px;
}

/* communicate section css */

.communicate{
    width: 100%;
    padding: 90px 0px;
}

.communicate-box{
    width: 67%;
   height: auto;
   padding: 90px 10px;
    background: url(../shapes/3.png);
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    border-radius: 30px;
}

.communicate-box h2{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 44px;
}


/*  Footer section css */

footer{
    width: 100%;
    padding-bottom: 60px;
    padding-top: 15px;

}

.footer-content{
  text-align: center;
}

footer p{
    font-weight: bold;
    color: #696871;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

footer h2{
    font-family: 'Roboto', sans-serif;
    padding: 25px 0px;
    font-size: 36px;
}

.footer-content img{
    width: 4%;
    margin: 0px 15px;
}

@media screen and (max-width:1234px) {
    header nav ul {
padding-right: 40px;
    }
   .banner{
    padding-top: 25px;
   }
    .banner-left{

        margin-left: 60px;
    }
 .banner-right{
    margin-top: -55px;
 }
 .banner-left p {
    font-size: 20px;}


.about{
    padding-bottom: 70px;
}

.about-left{
    margin-left: 53px;
}
.about-left img {
    width: 80%;
}

.about-right{
    margin-top: 70px;
}

}
@media screen and (max-width:1182px){
    .container{
        width: 100%;
    }

    .project-item{
        justify-content: space-evenly;
    }
}

@media screen and (max-width:1182px){
    .banner-left p{
        padding-right:130px;
    }

    .item p{
        font-size: 17px;
    }
    .about-left{
        flex-basis: 40%;
    }
    .about-right{
        flex-basis: 60%;
    }





}

@media screen and (max-width:866px){

    .banner-left h2{
        font-size: 30px;
    }

    .banner-left h1 {
        font-size: 36px;}


.banner-left p{
    padding-right: 106px;
}

.item h3{
    text-align: center;
}
.item p{
    text-align: center;
}


}

@media screen and (max-width:710px){
    .project-item{
        flex-direction: column;
    width: 75%;
    margin: 0 auto;
    }

    .item{
        margin-bottom: 20px;
    }
    .communicate-box{
        width: 99%;
    }
}

@media screen and (max-width:634px){

    .banner{
        padding-top: 50px;
    }
    .banner-left p{
        padding-right: 42px;
    }

    .btn{
        padding: 10px 30px;
    }

    .footer-content img {
        width: 6%;}

.communicate{
    padding: 45px 0px;
}

.project-work{
    padding: 45px 0px;
}
}

@media screen and (max-width:580px){
    .banner-left {
        margin-left: 25px;
        margin-right: 3px;
    }
    .banner-left h1 {
        font-size: 31px;
    }
    .banner-left p{
        font-size: 20px;
    }

    .banner-right img {
        width: 78%;
    }
    .about-left {
        margin-left: 18px;
    }
    .about-left img {
        width: 100%;
    }
    footer {
        padding-bottom: 20px;
    }
    footer h2 {
        padding: 15px 0px;
        font-size: 24px;
    }

}

@media screen and (max-width:506px){
    .communicate{
        width: 98%;
    }
}
@media screen and (max-width:480px){
    header ul li a{
        margin: 0px 10px;
    }
    .banner-left {
        margin-left: 12px;}

        .banner-left p{
            padding-right: 0px;
            font-size: 19px;
        }

        .banner-left h1 {
            font-size: 29px;
        }

        .about h4 {
            font-size: 30px;}
            .about p {
            
                font-size: 14px;
                line-height: 25px;

                margin: 13px 6px;
            }





}

@media screen and (max-width:430px){
    .banner-left h1 {
        font-size: 27px;
    }
    .banner-left p{
        font-size: 17px;
    }
    .banner-right img {
        width: 90%;
    }

    .about-left {
        margin-left: 1px;
    }
    .communicate-box h2 {
        font-size: 30px;
    }
    .communicate {
        padding: 10px 0px;
    }

    .about p {
        font-size: 15px;
        line-height: 25px;
        margin: 20px 0px;
    }


}

@media screen and (max-width:406px){
    .communicate-box {
        width: 99%;
    }
    .project-work h2 {
        margin-bottom: 35px;
        font-size: 28px;
    }
}


@media screen and (max-width:398px){
    .banner-left h1 {
        font-size: 26px;
    }
    .banner-left p {
        font-size: 16px;
    }
    .about p {
        font-size: 12px;}

}

@media screen and (max-width:385px){
    .banner-left h1 {
        font-size: 25px;
    }
    header nav ul{
        text-align: center;
    }

    header ul li a {
        margin: 0px 5px;
    }

}

@media screen and (max-width:372px){

    header ul li a {
        margin: 0px 2px;
    }
    .communicate-box h2 {
        font-size: 40px;
    }
    .communicate-box {
        display: flex;
        text-align: center;
        flex-direction: column;
    }
.communicate .btn{
   
        width: 75%;
        margin: 20px auto;
        display: inline-block;
    
}

}

@media screen and (max-width: 368px){
    .banner-left h1 {
        font-size: 22px;
    }
}
